<main>
  <div id="container">
    <div id="head">
      <img [src]="'assets/armor.svg'" />
      <h2 class="title">Armor</h2>
      <button
        mat-icon-button
        (click)="toggleAddArmorForm()"
        matTooltip="create new"
      >
        <i class="material-icons">add_circle</i>
      </button>
      <form
        class="add-armor-form"
        *ngIf="addArmorForm"
        [formGroup]="addArmorGroup"
        (submit)="addArmor()"
      >
        <mat-form-field class="name">
          <mat-label>name</mat-label>
          <input
            matInput
            type="text"
            placeholder="name"
            formControlName="name"
          />
        </mat-form-field>

        <mat-form-field>
          <!--*ngFor="let part of PartsArmor"  -->
          <mat-label>Helmet</mat-label>
          <mat-select formControlName="helmet">
            <mat-option
              *ngFor="let helmet of Helmets"
              [value]="helmet.name"
              
            >
              {{ helmet.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Arm</mat-label>
          <mat-select formControlName="arm">
            <mat-option
              *ngFor="let arm of Arms"
              [value]="arm.name"
              
            >
              {{ arm.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Torso</mat-label>
          <mat-select formControlName="torso">
            <mat-option
              *ngFor="let torso of Torsos"
              [value]="torso.name"
              
            >
              {{ torso.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Leg</mat-label>
          <mat-select formControlName="leg">
            <mat-option
              *ngFor="let leg of Legs"
              [value]="leg.name"
              
            >
              {{ leg.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cape</mat-label>
          <mat-select formControlName="cape">
            <mat-option
              *ngFor="let cape of Capes"
              [value]="cape.name"
              
            >
              {{ cape.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-icon-button
          type="submit"
          [disabled]="addArmorGroup.invalid"
          matTooltip="save"
        >
          <i class="material-icons">done</i>
        </button>

        <button
          mat-icon-button
          (click)="toggleAddArmorForm()"
          matTooltip="cancel"
        >
          <i class="material-icons">close</i>
        </button>
      </form>
      <mat-error *ngIf="addArmorFormError">{{ addArmorFormError }}</mat-error>
    </div>

    <div id="armors">
      <div class="scroll">
        <mat-card class="armor" *ngFor="let armor of Armors" >
          <span class="name">{{ armor.name }}</span>
          <div class="armorParts" *ngIf="editArmorGroup[armor.name]">
            <form
            (submit)="editArmor(armor)"
            [formGroup]="editArmorGroup[armor.name]"
            >                        
              <mat-form-field>
                <mat-label>Helmet</mat-label>
                <mat-select formControlName="helmet">
                  <mat-option
                    *ngFor="let helmet of Helmets"
                    [value]="helmet.name" 
                  >
                    {{ helmet.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Arm</mat-label>
                <mat-select formControlName="arm">
                  <mat-option
                    *ngFor="let arm of Arms"
                    [value]="arm.name"
                    
                  >
                    {{ arm.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Torso</mat-label>
                <mat-select formControlName="torso">
                  <mat-option
                    *ngFor="let torso of Torsos"
                    [value]="torso.name"
                    
                  >
                    {{ torso.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Leg</mat-label>
                <mat-select formControlName="leg">
                  <mat-option
                    *ngFor="let leg of Legs"
                    [value]="leg.name"
                    
                  >
                    {{ leg.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Cape</mat-label>
                <mat-select formControlName="cape">
                  <mat-option
                    *ngFor="let cape of Capes"
                    [value]="cape.name"                  
                  >
                    {{ cape.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
<!-- CHECKER POUR LE DISABLED DU BOUTON EDIT -->
              <button
                class="edit-armor-button"
                mat-icon-button                
                [disabled]="editArmorGroup[armor.name].invalid ||
                (editArmorGroup[armor.name].helmet === armor.composition[0] && 
                editArmorGroup[armor.name].arm === armor.composition[1] &&
                editArmorGroup[armor.name].torso === armor.composition[2] &&
                editArmorGroup[armor.name].leg === armor.composition[3] &&
                editArmorGroup[armor.name].cape === armor.composition[4])          
                "
                matTooltip="edit"
              ><!--editArmorControl[armor.name].composition == armor.composition-->
                <i class="material-icons">done</i>
              </button>
            </form
            >
          </div>

          <button
            mat-icon-button
            (click)="deleteArmor(armor)"
            matTooltip="delete"
          >
            <i class="material-icons">delete_forever</i>
          </button>
        </mat-card>
      </div>
    </div>
  </div>
</main>
