<header>
  <ul>
    <li class="armor">
      <a routerLink="/armor" routerLinkActive="active">
        ARMOR
      </a>
    </li>
    <li>|</li>
    <li>
      <a routerLink="/helmet" routerLinkActive="active">
        HELMET
      </a>
    </li>
    <li>
      <a routerLink="/arm" routerLinkActive="active">
        ARM
      </a>
    </li>
    <li>
      <a routerLink="/torso" routerLinkActive="active">
        TORSO
      </a>
    </li>
    <li>
      <a routerLink="/leg" routerLinkActive="active">
        LEG
      </a>
    </li>
    <li>
      <a routerLink="/cape" routerLinkActive="active">
        CAPE
      </a>
    </li>
  </ul>
</header>
